<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Actividades Deportivas</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{STATIC_URL}}img/favicons/manifest.json">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="{{STATIC_URL}}img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/cardio.css">
</head>

<body>
	<div class="preloader">
		<img src="{{STATIC_URL}}img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{{STATIC_URL}}img/logo.png" data-active-url="{{STATIC_URL}}img/logo-active.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					
					<li><a href="#login" class="btn btn-blue">Login</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>



	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">Cuida tu cuerpo.</h3>
							<h1 class="white typed">Es el único lugar que tienes para vivir.</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>



	<section id="login" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Log in</h2>
				<h4 class="light muted">Ingrese a su cuenta premium!</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="span5">
		                <div class="row-fluid">
		                  <div class="span2"></div>
		                  <div class="span8 registrar">
		                    <legend align="center"></legend>

		                    <form class="form-horizontal alinear" method="POST"> {% csrf_token %}
		                      <div class="control-group" align="center">
		                        <label class="control-label" for="inputEmail" >Usuario</label>
		                        <div class="controls">
		                          <input name="username" type="text" id="inputEmail" placeholder="Usuario">
		                        </div>
		                      </div>
		                      <div class="control-group" align="center">
		                        <label class="control-label" for="inputPassword">Contraseña</label>
		                        <div class="controls">
		                          <input name="password" type="password" id="inputPassword" placeholder="Contraseña">
		                        </div>
		                      </div>

		                      <div class="control-group" align="center">
		                        <div class="controls">		                          
		                          <button type="submit" class="btn btn-info">Ingresar</button>                          
		                        </div>
		                      </div>
		                    </form>


		                  </div>  
		                  <div class="span2"></div>
		                </div>
		            </div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>









	<footer>
		<div class="container">
			<div class="row bottom-footer text-center-mobile" align="center">
					<p>&copy; Ck14 Corporation & PowerPancho</p>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
	<script src="{{STATIC_URL}}js/owl.carousel.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/wow.min.js"></script>
	<script src="{{STATIC_URL}}js/typewriter.js"></script>
	<script src="{{STATIC_URL}}js/jquery.onepagenav.js"></script>
	<script src="{{STATIC_URL}}js/main.js"></script>
</body>

</html>
